Source: ofono
Maintainer: Patrik Flykt <patrik.flykt@linux.intel.com>
Section: net
Priority: optional
Build-Depends: debhelper(>=8), libglib2.0-dev(>=2.28),libdbus-1-dev(>=1.4), libudev-dev (>=175-7.2)

Package: ofono-upstream
Architecture: any
Conflicts: ofono
Replaces: ofono
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: connman-upstream|connman, bluez, dundee-upstream
Description: oFono GSM/3G cellular daemon
 This unofficial package contains the cellular modem daemon oFono

Package: ofono-upstream-dev
Architecture: any
Conflicts: ofono-dev
Replaces: ofono-dev
Provides: ofono-dev
Depends: ${misc:Depends}, libglib2.0-dev(>=2.28), libdbus-1-dev(>=1.4)
Description: oFono development files
 This unofficial package contains header files and pkgconfig support for
 developing oFono plugins.

Package: ofono-upstream-test
Architecture: any
Conflicts: ofono
Replaces: ofono
Depends: ${misc:Depends}, python
Recommends: ofono-upstream|ofono
Description: oFono test tools
 This unofficial package contains oFono test tools

Package: dundee-upstream
Architecture: any
Conflicts: ofono
Replaces: ofono
Depends: ${shlibs:Depends}, ${misc:Depends}, bluez
Recommends: connman-upstream(>= 1.12)|connman(>= 1.12)
Description: dundee Bluetooth Dial-Up (DUN) support daemon
 This unofficial package provides Bluetooth Dial-Up (DUN) support via the
 dundee daemon.
