#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	./configure \
		--sysconfdir=/etc \
		--prefix=/usr \
		--localstatedir=/var \
		--enable-tools \
		--enable-test \
		--enable-dundee \
		--with-systemdunitdir=/lib/systemd/system

override_dh_installinit:
	cp src/ofono.service debian/ofono-upstream.service
	cp dundee/dundee.service debian/dundee-upstream.service
	dh_systemd_enable --no-enable
	dh_installinit
	dh_systemd_start --restart-after-upgrade

override_dh_auto_test:
